# Required: Gemini API Configuration
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
# Provider: Choose ONE ("vertex" or "ai_studio")
GEMINI_PROVIDER=ai_studio
# Vertex AI Settings (only required if GEMINI_PROVIDER=vertex)
GEMINI_VERTEX_REGION=us-central1
GEMINI_VERTEX_PROJECT=gen-lang-client-0395786487

# OpenAI Python Package calls (Use with any provider, in example z.ai)
LLM_API_KEY=
LLM_MODEL=glm-4.6 # gpt-4o-mini
LLM_BASE_URL=https://api.z.ai/api/paas/v4/

SCRAPINGBEE_API_KEY=
SCRAPINGBEE_SESSION_ID=cl_session_1
CL_SITE_DEFAULT=boston
REMOTE_SITES=boston,newyork,sfbay,chicago,losangeles,seattle,austin,atlanta,miami,dallas,denver,sandiego,portland

DEBUG_INTENT=0

# Price control
TOKENS_MULT=16

